$base-font-color: #282828;
$primary-black: #2c303d;
$blue: #2c87ce;
$light-green: #8ae6cf;
$body-bg: #f6f6f6;
$light-grey: #ccc;
$grey: #949494;
$white: #fff;
$red: #ce2c52;

$shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
$light-shadow: 0 0 3px 1px rgba(0, 0, 0, .3);

$open-sans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;
