@import '../base/mixins';

.details {
  &__info {
    font-size: 12px;
    margin-bottom: 15px;
  }

  &__price {
    margin-bottom: 20px;
  }

  &__bar {
    display: flex;
    margin-bottom: 21px;
  }

  &__description {
    margin-bottom: 14px;
  }
}

@include tablet {
  .details {
    &__price {
      margin-bottom: 5px;
    }
  }
}

@include mobile {
  .details {
    &__bar {
      flex-direction: column;
    }
  }
}
